html,
body,
main,
section,
div {
    width: 100%;
    text-align: center;
}

/* MAIN */
section {
    /* border: 1px solid blue; */
    margin-bottom: 2rem;
}

#lastest,
#banner {
    background: rgb(246, 87, 34);
    color: #fff;
}

#lastest {
    width: 100%;
    margin-top: 1rem;
}

.lastest-message {
    margin: .75rem 0 0;
}

.lastest-message h6 {
    font-size: 2.125em;
}

#message-info h5 {
    margin: .75rem 0;
    width: 95%;
}

/* .lastest-message.flex,
#message-info.flex {
    justify-content: start;
    /* text-align: left; 
} */

#service-info div {
    margin: 1.25rem 0 0;
}

#service-info h6,
#service-info address,
#service-info p {
    font-size: 1.25rem;
}

.directions {
    width: 100%;
}

.directions iframe {
    width: 90%;
    height: 70vw;
    margin: 2em 0;
    border-radius: 15px;
}

.app-graphic {
    background: url("../img/mobile-app.png") no-repeat center;
    background-size: auto 100%;
    height: 42vh;
}

#sermon {
    /* box-shadow: inset 0 0 20px 0 rgb(246, 87, 34); */
    padding: 2rem 1.25rem;
}

#sermon h3 {
    text-transform: uppercase;
    color: rgb(246, 87, 34);
}

.sermon-video {
    margin-top: 2rem;
}

#popular video,
#promo,
#promo video {
    box-shadow: 0 0 20px 0 rgb(246, 87, 34);
    border-radius: 15px;
}

#cards {
    margin-bottom: 2rem;
}

#cards .connection.flex,
.card-info.flex {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
} 

.connection img {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px black;
}

.card-info {
    padding: 1rem 0;
    height: auto;
}

.card-info h3 {
    color: rgb(246, 87, 34);
    text-transform: uppercase;
    margin: .5rem 0;
}

.card-info p {
    margin: .5rem .75rem 1rem;
}

.video-info.flex {
    justify-content: space-between;
    align-items: center;
}

.video-info {
    margin-top: .5rem;
}

.video-info h5 {
    width: 100%;
}

.video-info h6 {
    width: auto;
}

#promo-video.flex {
    align-items: center;
    position: relative;
}

#promo {
    min-width: 100%;
    min-height: 100%;
}

.promo-title {
    position: absolute;
}

/* #bottom-contact {
    position: fixed;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px 0;
}

#bottom-contact .fab,
#bottom-contact .fas {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 70px;
}

#bottom-contact span {
    font-size: .818rem;
    font-weight: 400;
} */

/* #event {
    position: relative;
} */

.event-background {
    background-image: url("../img/eventbackground.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 5rem 0;
}

.event-background .flex {
    justify-self: end;
}

.event-overlay {
    background: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
}

.event-background img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.event-background button {
    width: 60%;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

@media only screen and (min-width: 600px) {
    #feat-video,
    #promo-video {
        width: 90%;
        margin: 0 auto;
    }
    #message-info.flex {
        justify-content: space-around;
    }

    #message-info h5 span.feat-series {
        display: block;
    }

    #message-info .button-orange {
        width: 30%;
    }

    .address-info,
    .directions {
        width: 50%;
    }

    .address-info .direct-button {
        display: flex;
    }

    .directions iframe {
        height: 35vw;
        width: 90%;
        margin-top: 1em;
    }

    #app-graphic.flex {
        align-items: center;
    }

    .app-graphic {
        min-height: 430px;
        background-size: 100% auto;
        width: 60%;
        position: relative;
    }

    #app-graphic a {
        position: absolute;
        width: 30%;
        z-index: 1;
    }

    .sermon-gallery .sermon-video {
        width: 45%;
    }

    .sermon-gallery.flex {
        justify-content: space-around;
    }

    #cards,
    #promo-video {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #cards.flex {
        justify-content: space-around;
    }

    #cards .connection {
        width: 45%;
        position: relative;
    }

    #cards .connection.flex,
    .card-info.flex {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .img-overlay {
        background: rgb(255, 255, 255, .75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-radius: 15px;
    }

    .connection img {
        border-radius: 15px;
    }

    #cards div.card-info {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    #cards .card-info .button-orange {
        height: 3rem;
    }

    .event-background {
        padding: 3.2rem 0;
    }

}

@media only screen and (min-width: 800px) {
    #service-info {
        width: calc((100% / 3) * 2);
    }

    #service-info .address-info,
    #service-info .directions {
        margin-top: 0;
    }

    .address-info {
        order: 1;
    }

    .directions {
        order: 0;
    }

    .directions iframe {
        height: 20rem;
        margin: 0;
    }

    #app-graphic {
        width: 33%;
    }

    .app-graphic {
        width: 100%;
        height: 100%;
    }

    #app-graphic .button-orange {
        width: 20%;
    }

    .sermon-gallery .sermon-video {
        width: 30%;
    }

    #cards {
        max-width: 1000px;
    }

    #cards .connection {
        width: 35%;
        position: unset;
    }

    #cards .connection.flex,
    .card-info.flex {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .img-overlay {
        display: none;
    }

    .card-info.flex {
        justify-content: space-between;
    }

    #cards div.card-info {
        position: unset;
    }

    .card-info p {
        margin-left: 0;
        margin-right: 0;
    }

    #cards a {
        margin-bottom: 0;
    }

}