/* ---------------------------------------- */
/* FONTS */
/* ---------------------------------------- */

@font-face {
  font-family: "Catamaran";
  src: url("../Fonts/Catamaran/Catamaran-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../Fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato-Light";
  src: url("../Fonts/Lato/Lato-Light.ttf");
  font-style: normal;
  font-weight: normal;
}

/* ---------------------------------------- */
/* HEADER AND NAVBAR */
/* ---------------------------------------- */

.value-display {
  background-attachment: fixed;
  background-size: cover;
  background-position: 75% 25%;
  padding: 195px;
  color: white;
  text-align: center;
  margin: auto;
}

.belief-display {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 195px;
  color: white;
  text-align: center;
}

.pick-block {
  @media (max-width: 300px) {
    width: 25%;
  }
}

/* ---------------------------------------- */
/* SLIDING BOXES */
/* ---------------------------------------- */

.slidingBoxes {
  flex-flow: row wrap;
}

.slidingBoxes {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

/* ---------------------------------------- */
/* PAGE SELECTION OPTIONS */
/* ---------------------------------------- */

.about-select {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  padding-bottom: 100px;
}

.about-select a {
  text-decoration: none;
}

.about-select button {
  width: 185px;
  height: 75px;
  font-family: Lato-light;
}

.about-select img {
  width: 250px;
  height: 250px;
}

.bullet-select {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  padding-top: 50px;
}

.bullet-select button {
  width: 185px;
  height: 75px;
  font-family: Lato-light;
}

/* ---------------------------------------- */
/* MEDIA QUERIES */
/* ---------------------------------------- */

/* Tablet Screen */
@media only screen and (min-width: 600px) {
  .about-select {
    width: 50%;
  }

  .value-display {
    width: 50;
  }
}

/* Desktop View */
@media only screen and (min-width: 900px) {
  .about-select {
    width: 33%;
  }

  .about-select a {
    width: 33%;
    font-size: 18px;
  }

  .value-display {
    width: 100%;
  }
}
