/* ---------------------------------------- */
/* HEADING */
/* ---------------------------------------- */

#about.pic-block {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(122, 102, 102, 0.7)), 
    url('.././img/misc/group.jpg');
}

.orange-block{
  background: linear-gradient(
     45deg, #f65722, #ffde59);;
 }

/* ---------------------------------------- */
/* PAGE SELECTION OPTIONS */
/* ---------------------------------------- */
#about.pic-block h5 {
  width: 90%;
  margin: 0 auto;
}

.about-select {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  margin-bottom: 1rem;
}

.about-select h3 {
  padding-bottom: 1rem;
}

.about-select a {
  text-decoration: none;
}

.about-select img {
  width: 60%;
}

.bullet-select {
  text-align: center;
  width: 100%;
}

.bullet-select button:hover,
.bullet-select button:focus {
  background-color: #fff;
  color: rgb(246, 87, 34);
}

/* ---------------------------------------- */
/* MEDIA QUERIES */
/* ---------------------------------------- */

/* Tablet Screen */
@media only screen and (min-width: 600px) {
  #about.pic-block{
    padding: 4rem 0;
  }
  
  .about-select {
    width: 50%;
  }

  .bullet-select button {
    width: 40%;
  }
}

/* Desktop View */
@media only screen and (min-width: 800px) {
  #about.pic-block{
    padding: 5rem 0;
  }

  .about-select {
    width: 33%;
  }

  .bullet-select {
    margin-top: 2rem;
  }

  .bullet-select button {
    width: 32%;
  }
}
