html,
body {
    width: 100%;
    margin: 0;
}

section {
    margin-bottom: 2rem;
}

.silvertone {
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.leader-display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.leader-image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.leader-image img {
    width: 100%;
    height: auto;
}

.leader-text {
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin: 20px auto 30px;
}

.leader-id,
.leader-text h3 {
    color: white;
    background: rgb(246, 87, 34);
    margin: 0;
}

#leader-name,
.leader-text h5 {
    color: rgb(246, 87, 34);
}

#leader-bio,
.leader-text p {
    color: #555;
    padding-top: 0;
}

.leaders-list {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
}

.leaders-list button {
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    width: 20%;
    padding: 0;
    margin: 0;
}

#left-arrow,
#right-arrow,
.fa-arrow-circle-left,
.fa-arrow-circle-right {
    color: white;
}

.icon-list {
    display: none;
}

@media only screen and (min-width: 600px) {
    .leader-display {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .leader-image,
    .leader-text {
        width: 45%;
        margin: 0;
    }

    .leader-image {
        align-content: flex-start;
    }

    .leader-image img {
        width: 90%;
    }

    .leader-id,
    .leader-text h3 {
        color: rgb(246, 87, 34);
        background: none;
        text-shadow: 0px 0px 20px rgb(246 87 34);
    }

    .icon-list {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        overflow-x: auto;
    }
}

@media only screen and (min-width: 800px) {
    .orange-block {
        padding: 1.4rem 0;
    }

    .silvertone {
        width: auto;
        padding-right: 5px;
    }

    .leader-display {
        max-width: 1000px;
        padding: 2.5rem 0;
    }

    .leader-image img {
        width: 60%;
    }
}